server {
    listen 80 default_server;
    server_name _;
    return 301 https://$host$request_uri;
}

server {
    listen 443 ssl default_server;
    http2 on;
    server_name _;

    ssl_certificate {{ .CertificatePath }};
    ssl_certificate_key {{ .KeyPath }};

    root {{ .WebRoot }};

    location / {
        try_files $uri $uri/ /index.html;
    }
}
