{
  "type": "anytls",
  "tag": "anytls",
  "listen": "::",
  "listen_port": {{ .Port }},
  "users": [
    {
      "password": {{ .Password | json }},
      "name": {{ .Name | json }}
    }
  ],
  "tls": {
    "enabled": true,
    "server_name": {{ .Domain | json }},
    "certificate_path": {{ .CertPath | json }},
    "key_path": {{ .KeyPath | json }}
  }
}
