{
  "type": "vless",
  "tag": "reality-grpc",
  "listen": "::",
  "listen_port": {{ .Port }},
  "users": [
    {
      "uuid": {{ .UUID | json }},
      "name": {{ .Name | json }}
    }
  ],
  "tls": {
    "enabled": true,
    "server_name": {{ .ServerName | json }},
    "reality": {
      "enabled": true,
      "handshake": {
        "server": {{ .ServerName | json }},
        "server_port": {{ .HandshakePort }}
      },
      "private_key": {{ .PrivateKey | json }},
      "short_id": ["", {{ .ShortID | json }}]
    }
  },
  "transport": {
    "type": "grpc",
    "service_name": "grpc"
  }
}
