[Unit]
Description=singbox-deploy monitor
After=network.target sing-box.service

[Service]
User=root
ExecStart={{ .MonitorBin }} serve --listen {{ .Listen }}{{ if .Interface }} --interface {{ .Interface }}{{ end }} --db {{ .DB }} --in-limit-bytes {{ .InLimitBytes }} --out-limit-bytes {{ .OutLimitBytes }} --total-limit-bytes {{ .TotalLimitBytes }} --reset-day {{ .ResetDay }} --reset-hour {{ .ResetHour }} --alias {{ json .MonitorAlias }} --interval-seconds {{ .IntervalSeconds }} --remote-monitor {{ .RemoteMonitor }}
Restart=on-failure
RestartSec=10
MemoryMax=128M

[Install]
WantedBy=multi-user.target
