log-level: debug
mode: rule
ipv6: true
mixed-port: 7890
allow-lan: true
bind-address: "*"
lan-allowed-ips:
  - 0.0.0.0/0
  - ::/0
find-process-mode: strict
external-controller: 0.0.0.0:9090

geox-url:
  geoip: "https://fastly.jsdelivr.net/gh/MetaCubeX/meta-rules-dat@release/geoip.dat"
  geosite: "https://fastly.jsdelivr.net/gh/MetaCubeX/meta-rules-dat@release/geosite.dat"
  mmdb: "https://fastly.jsdelivr.net/gh/MetaCubeX/meta-rules-dat@release/geoip.metadb"
geo-auto-update: true
geo-update-interval: 24

external-controller-cors:
  allow-private-network: true

profile:
  store-selected: true
  store-fake-ip: true

sniffer:
  enable: true
  override-destination: false
  sniff:
    QUIC:
      ports: [443]
    TLS:
      ports: [443]
    HTTP:
      ports: [80]

dns:
  enable: true
  prefer-h3: false
  listen: 0.0.0.0:1053
  ipv6: true
  enhanced-mode: fake-ip
  fake-ip-range: 198.18.0.1/16
  fake-ip-filter-mode: blacklist
  fake-ip-filter:
    - "+.lan"
    - "+.local"
    - "dns.google"
    - "localhost.ptlogin2.qq.com"
  use-hosts: true
  use-system-hosts: true
  respect-rules: false
  default-nameserver:
    - 223.5.5.5
    - 119.29.29.29
  nameserver:
    - "https://doh.pub/dns-query"
    - "https://dns.alidns.com/dns-query"
    - "https://1.1.1.1/dns-query#全球代理"
    - "https://8.8.8.8/dns-query#全球代理"
  proxy-server-nameserver:
    - https://doh.pub/dns-query
    - https://dns.alidns.com/dns-query
  direct-nameserver:
    - https://doh.pub/dns-query
    - https://dns.alidns.com/dns-query

proxy-providers:
  provider:
    type: http
    url: {{ .ClashProviderURL | json }}
    interval: 3600
    proxy: DIRECT
    health-check:
      enable: true
      url: https://cp.cloudflare.com/generate_204
      interval: 300

proxy-groups:
  - name: 🚀 手动切换
    type: select
    use:
      - provider
    proxies: null
  - name: ♻️ 自动选择
    type: url-test
    url: http://www.gstatic.com/generate_204
    interval: 36000
    tolerance: 50
    use:
      - provider
    proxies: null
{{- range .Countries }}
  - name: {{ .Tag }}
    type: url-test
    url: http://www.gstatic.com/generate_204
    interval: 300
    tolerance: 50
    filter: {{ .Filter | json }}
    use:
      - provider
    proxies: null
{{- end }}
  - name: 全球代理
    type: select
    proxies:
      - 🚀 手动切换
      - ♻️ 自动选择
{{- range .Countries }}
      - {{ .Tag }}
{{- end }}
      - DIRECT
  - name: 国外媒体
    type: select
    proxies:
      - 🚀 手动切换
      - ♻️ 自动选择
{{- range .Countries }}
      - {{ .Tag }}
{{- end }}
      - DIRECT
  - name: 国内媒体
    type: select
    proxies:
      - DIRECT
      - 🚀 手动切换
      - ♻️ 自动选择
{{- range .Countries }}
      - {{ .Tag }}
{{- end }}
  - name: AI服务
    type: select
    proxies:
      - 🚀 手动切换
      - ♻️ 自动选择
{{- range .Countries }}
      - {{ .Tag }}
{{- end }}
      - DIRECT
  - name: 游戏平台
    type: select
    proxies:
      - 🚀 手动切换
      - ♻️ 自动选择
{{- range .Countries }}
      - {{ .Tag }}
{{- end }}
      - DIRECT
  - name: 学术网页
    type: select
    proxies:
      - 🚀 手动切换
      - ♻️ 自动选择
{{- range .Countries }}
      - {{ .Tag }}
{{- end }}
      - DIRECT
  - name: 本地直连
    type: select
    proxies:
      - DIRECT
      - 🚀 手动切换
      - ♻️ 自动选择
{{- range .Countries }}
      - {{ .Tag }}
{{- end }}
  - name: 漏网之鱼
    type: select
    proxies:
      - 🚀 手动切换
      - DIRECT
      - ♻️ 自动选择
{{- range .Countries }}
      - {{ .Tag }}
{{- end }}
  - name: Google
    type: select
    proxies:
      - 🚀 手动切换
      - ♻️ 自动选择
{{- range .Countries }}
      - {{ .Tag }}
{{- end }}
      - DIRECT
  - name: Microsoft
    type: select
    proxies:
      - DIRECT
      - 🚀 手动切换
      - ♻️ 自动选择
{{- range .Countries }}
      - {{ .Tag }}
{{- end }}
  - name: Apple
    type: select
    proxies:
      - DIRECT
      - 🚀 手动切换
      - ♻️ 自动选择
{{- range .Countries }}
      - {{ .Tag }}
{{- end }}
  - name: Gits
    type: select
    proxies:
      - 🚀 手动切换
      - ♻️ 自动选择
{{- range .Countries }}
      - {{ .Tag }}
{{- end }}
      - DIRECT
  - name: Spotify
    type: select
    proxies:
      - 🚀 手动切换
      - ♻️ 自动选择
{{- range .Countries }}
      - {{ .Tag }}
{{- end }}
      - DIRECT

rule-providers:
  Private:
    type: http
    behavior: classical
    format: text
    interval: 86400
    proxy: DIRECT
    url: https://fastly.jsdelivr.net/gh/QuixoticHeart/rule-set@ruleset/meta/private.list
    path: ./ruleset/private.list
  Proxy:
    type: http
    behavior: classical
    format: text
    proxy: DIRECT
    url: https://fastly.jsdelivr.net/gh/QuixoticHeart/rule-set@ruleset/meta/proxy.list
    path: ./ruleset/proxy.list
    interval: 86400
  Direct:
    type: http
    behavior: classical
    proxy: DIRECT
    url: https://fastly.jsdelivr.net/gh/blackmatrix7/ios_rule_script@master/rule/Clash/Direct/Direct.yaml
    path: ./ruleset/direct.yaml
    interval: 86400
  SocialMedia:
    type: http
    behavior: classical
    format: text
    proxy: DIRECT
    url: https://fastly.jsdelivr.net/gh/QuixoticHeart/rule-set@ruleset/meta/socialmedia.list
    path: ./ruleset/socialmedia.list
    interval: 86400
  Disney:
    type: http
    behavior: classical
    format: text
    proxy: DIRECT
    url: https://fastly.jsdelivr.net/gh/QuixoticHeart/rule-set@ruleset/meta/disney.list
    path: ./ruleset/disney.list
    interval: 86400
  Netflix:
    type: http
    behavior: classical
    format: text
    proxy: DIRECT
    url: https://fastly.jsdelivr.net/gh/QuixoticHeart/rule-set@ruleset/meta/netflix.list
    path: ./ruleset/netflix.list
    interval: 86400
  YouTube:
    type: http
    behavior: classical
    format: text
    proxy: DIRECT
    url: https://fastly.jsdelivr.net/gh/QuixoticHeart/rule-set@ruleset/meta/youtube.list
    path: ./ruleset/youtube.list
    interval: 86400
  TikTok:
    type: http
    behavior: classical
    format: text
    proxy: DIRECT
    url: https://fastly.jsdelivr.net/gh/QuixoticHeart/rule-set@ruleset/meta/tiktok.list
    path: ./ruleset/tiktok.list
    interval: 86400
  HBO:
    type: http
    behavior: classical
    format: text
    proxy: DIRECT
    url: https://fastly.jsdelivr.net/gh/QuixoticHeart/rule-set@ruleset/meta/hbo.list
    path: ./ruleset/hbo.list
    interval: 86400
  Hulu:
    type: http
    behavior: classical
    format: text
    proxy: DIRECT
    url: https://fastly.jsdelivr.net/gh/QuixoticHeart/rule-set@ruleset/meta/hulu.list
    path: ./ruleset/hulu.list
    interval: 86400
  AI:
    type: http
    behavior: classical
    proxy: DIRECT
    format: text
    url: https://fastly.jsdelivr.net/gh/QuixoticHeart/rule-set@ruleset/meta/ai.list
    path: ./ruleset/ai.list
    interval: 86400
  Google:
    type: http
    behavior: classical
    format: text
    proxy: DIRECT
    url: https://fastly.jsdelivr.net/gh/QuixoticHeart/rule-set@ruleset/meta/google.list
    path: ./ruleset/google.list
    interval: 86400
  Gits:
    type: http
    behavior: classical
    format: text
    proxy: DIRECT
    url: https://fastly.jsdelivr.net/gh/QuixoticHeart/rule-set@ruleset/meta/gits.list
    path: ./ruleset/gits.list
    interval: 86400
  Spotify:
    type: http
    behavior: classical
    format: text
    proxy: DIRECT
    url: https://fastly.jsdelivr.net/gh/QuixoticHeart/rule-set@ruleset/meta/spotify.list
    path: ./ruleset/spotify.list
    interval: 86400
  Games:
    type: http
    behavior: classical
    format: text
    proxy: DIRECT
    url: https://fastly.jsdelivr.net/gh/QuixoticHeart/rule-set@ruleset/meta/games.list
    path: ./ruleset/games.list
    interval: 86400
  Microsoft:
    type: http
    behavior: classical
    format: text
    proxy: DIRECT
    url: https://fastly.jsdelivr.net/gh/QuixoticHeart/rule-set@ruleset/meta/microsoft.list
    path: ./ruleset/microsoft.list
    interval: 86400
  Apple:
    type: http
    behavior: classical
    format: text
    proxy: DIRECT
    url: https://fastly.jsdelivr.net/gh/QuixoticHeart/rule-set@ruleset/meta/apple.list
    path: ./ruleset/apple.list
    interval: 86400
  Scholar:
    type: http
    behavior: classical
    proxy: DIRECT
    url: https://fastly.jsdelivr.net/gh/blackmatrix7/ios_rule_script@master/rule/Clash/Scholar/Scholar.yaml
    path: ./ruleset/scholar.yaml
    interval: 86400
  SocialMediaCN:
    type: http
    behavior: classical
    format: text
    proxy: DIRECT
    url: https://fastly.jsdelivr.net/gh/QuixoticHeart/rule-set@ruleset/meta/socialmedia-cn.list
    path: ./ruleset/socialmedia-cn.list
    interval: 86400
  CN:
    type: http
    behavior: classical
    format: text
    interval: 86400
    proxy: DIRECT
    url: https://fastly.jsdelivr.net/gh/QuixoticHeart/rule-set@ruleset/meta/cn.list
    path: ./ruleset/cn.list
  CNCIDR:
    type: http
    behavior: classical
    format: text
    interval: 86400
    proxy: DIRECT
    url: https://fastly.jsdelivr.net/gh/QuixoticHeart/rule-set@ruleset/meta/cncidr.list
    path: ./ruleset/cncidr.list

rules:
  - RULE-SET,Private,本地直连
  - RULE-SET,AI,AI服务
  - RULE-SET,Spotify,Spotify
  - RULE-SET,Games,游戏平台
  - RULE-SET,HBO,国外媒体
  - RULE-SET,Hulu,国外媒体
  - RULE-SET,Disney,国外媒体
  - RULE-SET,TikTok,国外媒体
  - RULE-SET,YouTube,国外媒体
  - RULE-SET,Netflix,国外媒体
  - RULE-SET,SocialMedia,国外媒体
  - RULE-SET,Proxy,全球代理
  - RULE-SET,Scholar,学术网页
  - RULE-SET,Gits,Gits
  - RULE-SET,Google,Google
  - RULE-SET,Microsoft,Microsoft
  - RULE-SET,Apple,Apple
  - RULE-SET,SocialMediaCN,国内媒体
  - RULE-SET,Direct,本地直连
  - RULE-SET,CN,本地直连
  - RULE-SET,CNCIDR,本地直连,no-resolve
  - GEOIP,CN,本地直连
  - MATCH,漏网之鱼
