{
  "http_clients": [
    {
      "tag": "proxy-http",
      "detour": "DIRECT"
    }
  ],
  "log": {
    "level": "debug",
    "timestamp": true
  },
  "dns": {
    "servers": [
      {
        "type": "https",
        "tag": "cloudflare",
        "server": "1.1.1.1",
        "detour": "全球代理"
      },
      {
        "type": "https",
        "tag": "google",
        "server": "8.8.8.8",
        "detour": "全球代理"
      },
      {
        "type": "https",
        "tag": "dnspod",
        "server": "1.12.12.12",
        "tls": {
          "server_name": "doh.pub"
        },
        "detour": "DIRECT"
      },
      {
        "type": "https",
        "tag": "alidns",
        "server": "223.5.5.5",
        "tls": {
          "server_name": "dns.alidns.com"
        },
        "detour": "DIRECT"
      },
      {
        "type": "local",
        "tag": "local"
      },
      {
        "type": "fakeip",
        "tag": "fakeip",
        "inet4_range": "198.18.0.0/16"
      }
    ],
    "rules": [
      {
        "domain_suffix": [
          ".lan",
          ".local"
        ],
        "action": "route",
        "server": "local"
      },
      {
        "domain": [
          "dns.google",
          "localhost.ptlogin2.qq.com"
        ],
        "action": "route",
        "server": "local"
      },
      {
        "rule_set": "Private",
        "action": "route",
        "server": "local"
      },
      {
        "rule_set": "CN",
        "action": "route",
        "server": "alidns"
      }
    ],
    "final": "fakeip",
    "strategy": "prefer_ipv4",
    "reverse_mapping": true
  },
  "inbounds": [
    {
      "type": "tun",
      "tag": "tun-in",
      "address": [
        "172.18.0.1/30",
        "fdfe:dcba:9876::1/126"
      ],
      "auto_route": true,
      "strict_route": true,
      "stack": "mixed",
      "sniff": true,
      "sniff_override_destination": false
    },
    {
      "type": "mixed",
      "tag": "mixed-in",
      "listen": "0.0.0.0",
      "listen_port": 7890,
      "sniff": true,
      "sniff_override_destination": false
    }
  ],
  "outbounds": [
    {
      "type": "selector",
      "tag": "🚀 手动切换",
      "outbounds": {{ .ProxyTagsJSON }},
      "default": {{ .DefaultProxyTag | json }}
    },
    {
      "type": "urltest",
      "tag": "♻️ 自动选择",
      "outbounds": {{ .ProxyTagsJSON }},
      "url": "http://www.gstatic.com/generate_204",
      "interval": "10h",
      "tolerance": 50
    },
{{- range .Countries }}
    {
      "type": "urltest",
      "tag": {{ .Tag | json }},
      "outbounds": {{ .TagsJSON }},
      "url": "http://www.gstatic.com/generate_204",
      "interval": "5m",
      "tolerance": 50
    },
{{- end }}
    {
      "type": "selector",
      "tag": "全球代理",
      "outbounds": ["🚀 手动切换", "♻️ 自动选择"{{- range .Countries }}, {{ .Tag | json }}{{- end }}, "DIRECT"],
      "default": "🚀 手动切换"
    },
    {
      "type": "selector",
      "tag": "国外媒体",
      "outbounds": ["🚀 手动切换", "♻️ 自动选择"{{- range .Countries }}, {{ .Tag | json }}{{- end }}, "DIRECT"],
      "default": "🚀 手动切换"
    },
    {
      "type": "selector",
      "tag": "国内媒体",
      "outbounds": ["DIRECT", "🚀 手动切换", "♻️ 自动选择"{{- range .Countries }}, {{ .Tag | json }}{{- end }}],
      "default": "DIRECT"
    },
    {
      "type": "selector",
      "tag": "AI服务",
      "outbounds": ["🚀 手动切换", "♻️ 自动选择"{{- range .Countries }}, {{ .Tag | json }}{{- end }}, "DIRECT"],
      "default": "🚀 手动切换"
    },
    {
      "type": "selector",
      "tag": "游戏平台",
      "outbounds": ["🚀 手动切换", "♻️ 自动选择"{{- range .Countries }}, {{ .Tag | json }}{{- end }}, "DIRECT"],
      "default": "🚀 手动切换"
    },
    {
      "type": "selector",
      "tag": "学术网页",
      "outbounds": ["🚀 手动切换", "♻️ 自动选择"{{- range .Countries }}, {{ .Tag | json }}{{- end }}, "DIRECT"],
      "default": "🚀 手动切换"
    },
    {
      "type": "selector",
      "tag": "本地直连",
      "outbounds": ["DIRECT", "🚀 手动切换", "♻️ 自动选择"{{- range .Countries }}, {{ .Tag | json }}{{- end }}],
      "default": "DIRECT"
    },
    {
      "type": "selector",
      "tag": "漏网之鱼",
      "outbounds": ["🚀 手动切换", "DIRECT", "♻️ 自动选择"{{- range .Countries }}, {{ .Tag | json }}{{- end }}],
      "default": "🚀 手动切换"
    },
    {
      "type": "selector",
      "tag": "Google",
      "outbounds": ["🚀 手动切换", "♻️ 自动选择"{{- range .Countries }}, {{ .Tag | json }}{{- end }}, "DIRECT"],
      "default": "🚀 手动切换"
    },
    {
      "type": "selector",
      "tag": "Microsoft",
      "outbounds": ["DIRECT", "🚀 手动切换", "♻️ 自动选择"{{- range .Countries }}, {{ .Tag | json }}{{- end }}],
      "default": "DIRECT"
    },
    {
      "type": "selector",
      "tag": "Apple",
      "outbounds": ["DIRECT", "🚀 手动切换", "♻️ 自动选择"{{- range .Countries }}, {{ .Tag | json }}{{- end }}],
      "default": "DIRECT"
    },
    {
      "type": "selector",
      "tag": "Gits",
      "outbounds": ["🚀 手动切换", "♻️ 自动选择"{{- range .Countries }}, {{ .Tag | json }}{{- end }}, "DIRECT"],
      "default": "🚀 手动切换"
    },
    {
      "type": "selector",
      "tag": "Spotify",
      "outbounds": ["🚀 手动切换", "♻️ 自动选择"{{- range .Countries }}, {{ .Tag | json }}{{- end }}, "DIRECT"],
      "default": "🚀 手动切换"
    },
{{- if .OutboundsJSON }}
    {{ .OutboundsJSON }},
{{- end }}
    {
      "type": "direct",
      "tag": "DIRECT"
    }
  ],
  "route": {
    "rule_set": [
      {"type": "remote", "tag": "Private", "format": "binary", "url": "https://fastly.jsdelivr.net/gh/QuixoticHeart/rule-set@ruleset/singbox/version2/private.srs", "update_interval": "24h"},
      {"type": "remote", "tag": "AI", "format": "binary", "url": "https://fastly.jsdelivr.net/gh/QuixoticHeart/rule-set@ruleset/singbox/version2/ai.srs", "update_interval": "24h"},
      {"type": "remote", "tag": "Spotify", "format": "binary", "url": "https://fastly.jsdelivr.net/gh/QuixoticHeart/rule-set@ruleset/singbox/version2/spotify.srs", "update_interval": "24h"},
      {"type": "remote", "tag": "Games", "format": "binary", "url": "https://fastly.jsdelivr.net/gh/QuixoticHeart/rule-set@ruleset/singbox/version2/games.srs", "update_interval": "24h"},
      {"type": "remote", "tag": "HBO", "format": "binary", "url": "https://fastly.jsdelivr.net/gh/QuixoticHeart/rule-set@ruleset/singbox/version2/hbo.srs", "update_interval": "24h"},
      {"type": "remote", "tag": "Hulu", "format": "binary", "url": "https://fastly.jsdelivr.net/gh/QuixoticHeart/rule-set@ruleset/singbox/version2/hulu.srs", "update_interval": "24h"},
      {"type": "remote", "tag": "Disney", "format": "binary", "url": "https://fastly.jsdelivr.net/gh/QuixoticHeart/rule-set@ruleset/singbox/version2/disney.srs", "update_interval": "24h"},
      {"type": "remote", "tag": "TikTok", "format": "binary", "url": "https://fastly.jsdelivr.net/gh/QuixoticHeart/rule-set@ruleset/singbox/version2/tiktok.srs", "update_interval": "24h"},
      {"type": "remote", "tag": "YouTube", "format": "binary", "url": "https://fastly.jsdelivr.net/gh/QuixoticHeart/rule-set@ruleset/singbox/version2/youtube.srs", "update_interval": "24h"},
      {"type": "remote", "tag": "Netflix", "format": "binary", "url": "https://fastly.jsdelivr.net/gh/QuixoticHeart/rule-set@ruleset/singbox/version2/netflix.srs", "update_interval": "24h"},
      {"type": "remote", "tag": "SocialMedia", "format": "binary", "url": "https://fastly.jsdelivr.net/gh/QuixoticHeart/rule-set@ruleset/singbox/version2/socialmedia.srs", "update_interval": "24h"},
      {"type": "remote", "tag": "SocialMediaCN", "format": "binary", "url": "https://fastly.jsdelivr.net/gh/QuixoticHeart/rule-set@ruleset/singbox/version2/socialmedia-cn.srs", "update_interval": "24h"},
      {"type": "remote", "tag": "Scholar", "format": "binary", "url": "https://fastly.jsdelivr.net/gh/senshinya/singbox_ruleset@main/rule/Scholar/Scholar.srs", "update_interval": "24h"},
      {"type": "remote", "tag": "Microsoft", "format": "binary", "url": "https://fastly.jsdelivr.net/gh/QuixoticHeart/rule-set@ruleset/singbox/version2/microsoft.srs", "update_interval": "24h"},
      {"type": "remote", "tag": "OneDrive", "format": "binary", "url": "https://fastly.jsdelivr.net/gh/QuixoticHeart/rule-set@ruleset/singbox/version2/onedrive.srs", "update_interval": "24h"},
      {"type": "remote", "tag": "Apple", "format": "binary", "url": "https://fastly.jsdelivr.net/gh/QuixoticHeart/rule-set@ruleset/singbox/version2/apple.srs", "update_interval": "24h"},
      {"type": "remote", "tag": "Google", "format": "binary", "url": "https://fastly.jsdelivr.net/gh/QuixoticHeart/rule-set@ruleset/singbox/version2/google.srs", "update_interval": "24h"},
      {"type": "remote", "tag": "Gits", "format": "binary", "url": "https://fastly.jsdelivr.net/gh/QuixoticHeart/rule-set@ruleset/singbox/version2/gits.srs", "update_interval": "24h"},
      {"type": "remote", "tag": "Proxy", "format": "binary", "url": "https://fastly.jsdelivr.net/gh/QuixoticHeart/rule-set@ruleset/singbox/version2/proxy.srs", "update_interval": "24h"},
      {"type": "remote", "tag": "Direct", "format": "binary", "url": "https://fastly.jsdelivr.net/gh/senshinya/singbox_ruleset@main/rule/Direct/Direct.srs", "update_interval": "24h"},
      {"type": "remote", "tag": "CN", "format": "binary", "url": "https://fastly.jsdelivr.net/gh/QuixoticHeart/rule-set@ruleset/singbox/version2/cn.srs", "update_interval": "24h"},
      {"type": "remote", "tag": "CNCIDR", "format": "binary", "url": "https://fastly.jsdelivr.net/gh/QuixoticHeart/rule-set@ruleset/singbox/version2/cncidr.srs", "update_interval": "24h"}
    ],
    "rules": [
      {"rule_set": "Private", "outbound": "本地直连"},
      {"rule_set": ["AI"], "outbound": "AI服务"},
      {"domain_suffix": "openrouter.ai", "outbound": "AI服务"},
      {"rule_set": "Spotify", "outbound": "Spotify"},
      {"rule_set": "Games", "outbound": "游戏平台"},
      {"rule_set": ["HBO", "Hulu", "Disney", "TikTok", "YouTube", "Netflix", "SocialMedia"], "outbound": "国外媒体"},
      {"rule_set": "SocialMediaCN", "outbound": "国内媒体"},
      {"rule_set": "Scholar", "outbound": "学术网页"},
      {"rule_set": ["Microsoft", "OneDrive"], "outbound": "Microsoft"},
      {"rule_set": "Apple", "outbound": "Apple"},
      {"rule_set": "Google", "outbound": "Google"},
      {"rule_set": "Gits", "outbound": "Gits"},
      {"rule_set": "Proxy", "outbound": "全球代理"},
      {"rule_set": "Direct", "outbound": "本地直连"},
      {"rule_set": ["CN", "CNCIDR"], "outbound": "本地直连"}
    ],
    "default_domain_resolver": {
      "server": "local",
      "strategy": "prefer_ipv4"
    },
    "default_http_client": "proxy-http",
    "final": "漏网之鱼",
    "auto_detect_interface": true
  }
}
